# Frontend Flutter
fitai_app/.dart_tool/
fitai_app/.flutter-plugins
fitai_app/.flutter-plugins-dependencies
fitai_app/.packages
fitai_app/build/
fitai_app/.pub-cache/
fitai_app/.pub/

# Backend Django
fitai_backend/__pycache__/
fitai_backend/**/__pycache__/
fitai_backend/*.pyc
fitai_backend/**/*.pyc
fitai_backend/.env
fitai_backend/db.sqlite3
fitai_backend/media/
fitai_backend/staticfiles/
fitai_backend/venv/

# Python
*.pyc
__pycache__/
venv/
env/
.env

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log